page-home {
    .wrapper {
        // height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swipe-icon {
        overflow: visible;
        width: 18px;
        height: 24px;
    }
    .swipe-icon .swipe-left-arrow {
        animation: pulse-arrow-left 2s ease-out infinite;
    }
    .swipe-icon .swipe-arrow {
        animation: pulse-arrow 2s ease-out infinite;
    }
    .swipe-icon {
        animation: hand-move 2s ease-out infinite;
    }
    @keyframes pulse-arrow-left {
        0% {
            transform: translateX(0);
            opacity: 1;
            fill: green;
            color: green;
        }
        50% {
            transform: translateX(-0.25em);
            opacity: 0;
            fill: green;
            color: green;
        }
        75% {
            transform: translateX(-0.25em);
            opacity: 0;
            fill: green;
            color: green
        }
        100% {
            transform: translateX(0);
            opacity: 0;
            fill: green;
            color: green
        }
    }
    @keyframes pulse-arrow {
        0% {
            transform: translateX(0);
            opacity: 0;
            fill: red;
            color: red;
        }
        50% {
            transform: translateX(0.25em);
            opacity: 0;
            fill: red;
            color: red;
        }
        75% {
            transform: translateX(0.25em);
            opacity: 1;
            fill: red;
            color: red;
        }
        100% {
            transform: translateX(0);
            opacity: 0;
            fill: red;
            color: red;
        }
    }
    @keyframes hand-move {
        0% {
            transform: translateX(0em);
            fill: green;
            color: green;
        }
        50% {
            transform: translateX(-0.5em);
            fill: green;
            color: green;
        }
        75% {
            transform: translateX(0em);
            fill: red;
            color: red;
        }
        100% {
            transform: translateX(0, 5em);
            fill: red;
            color: red;
        }
    }
}